<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="page-title">
        <div class="title_left">
            <h4><small>Factures à payer en Allemagne</small></h4>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ">
        <div class="card">
            <div class="card-body">
                <form th:action="@{/stat/inventaires/non_paye/periode}">
                    <table>
                        <tr>
                            <td style="color: black;">Date de début : </td>
                            <td>
                                <input type="date" name="d1">
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="color: black;">Date de fin :  </td>
                            <td><input type="date" name="d2"> </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input type="submit" class="btn btn-primary btn-sm" value="valider"> </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="color:black;">Factures : du <mark><b><em th:text="${date1}"></em></b></mark> au <mark><b><em th:text="${date2}"></em></b></mark> </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="color:black;">Total période : <mark><b><em th:text="${totalPeriode}"></em></b></mark> </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <br>
    </div>

    <!-- table -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Total : <small style="color:red;" th:text="${totalSomme}"></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Commercial</th>
                                    <th>N° com</th>
                                    <th>Expéditeur</th>
                                    <th>Destinataire</th>
                                    <th>Nb colis</th>
                                    <th>Montant facture</th>
                                    <th>Montant payé</th>
                                    <th>Reste à payer</th>
                                    <th>Solde client</th>
                                    <th>Statut</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="com:${inventaires}">
                                    <td th:text="${com.id}"></td>
                                    <td th:text="${com.user.prenom}"></td>
                                    <td th:text="${com.pin}"></td>
                                    <td th:text="${com.emetteur.nomPersonne}+' '+${com.emetteur.prenomPersonne}"></td>
                                    <td th:text="${com.recepteur.nomPersonne}+' '+${com.recepteur.prenomPersonne}"></td>
                                    <td th:text="${com.nbColis}"></td>
                                    <td th:text="${com.montantTotal}"></td>
                                    <td th:text="${com.montantPaye}"></td>
                                    <td th:text="${com.montantTotal}-${com.montantPaye}"></td>
                                    <td th:text="${com.recepteur.solde}"></td>
                                    <td th:text="${com.statutCommande}"></td>
                                    <td th:switch="${com.typeEnvoi}">
                                        <a class="btn btn-round btn-sm btn-info dbtn" title="Valider" th:href="@{/stat/form/encaissement/{id}(id=${com.id})}"><i class="fa fa-check"></i></a>
                                        <a th:case="MARITIME" class="btn btn-round btn-sm btn-success" title="Voir" th:href="@{/stat/inventaireMaritimeLien/facture/{id}(id=${com.id})}"><i class="fa fa-eye"></i></a>
                                        <a th:case="*" class="btn btn-round btn-sm btn-success" title="Voir" th:href="@{/stat/inventaireAerienLien/facture/{id}(id=${com.id})}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- End table -->
    <!-- Modal delete -->
    <div class="modal fade" id="deleteform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Confirmation d'encaissement</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">Êtes-vous sûr de vouloir valider l'encaissement?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-success" id="delRef">Valider</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal delete -->
</div>
</body>
</html>