<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<div layout:fragment="content">

    <div class="page-title">
        <div class="title_left">
            <h3><small>Choisir un mode d'envoi de colis</small></h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12" align="center">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                <div class="col-md-6 col-sm-6 ">
                    <div class="card" style="width: 18rem;">
                        <img src="/images/maritime.jpg" width="300" height="150" class="card-img-top" alt="...">
                        <div class="card-body" align="center">
                            <a th:href="@{/colis/formColis}" class="btn btn-primary">Envoi par voie maritime</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 ">
                    <div class="card" style="width: 18rem;">
                        <img src="/images/aerien.jpg" width="300" height="150" class="card-img-top" alt="...">
                        <div class="card-body" align="center">
                            <a th:href="@{/colis/formColisAerien}" class="btn btn-success">Envoi par voie aérienne</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>