<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<div layout:fragment="content">
    <div class="clearfix"></div>
    <div>
        <div style="margin:10px;" class="title_left">
            <h4 style="background-color:Peru;color:white;padding:3px;"><small>Créer une nouvelle commande pour cet envoi </small></h4>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form th:action="@{/commande/nouveau}" method="POST" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 ">
                            <input type="hidden" name="emetteurid" th:value="${unEmetteur.id}" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 ">
                            <input type="hidden" name="recepteurid" th:value="${unRecepteur.id}" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Expéditeur</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" th:value="${unEmetteur.nomPersonne+' '+unEmetteur.prenomPersonne}" readonly class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Destinataire</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" th:value="${unRecepteur.nomPersonne+' '+unRecepteur.prenomPersonne}" readonly class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="ccol-form-label col-md-3 col-sm-3 label-align">Type de pièce</label>
                        <div class="col-md-6 col-sm-6">
                            <select name="pieceid" required="true" class="form-control border-info">
                                <option value="">--Choisir une pièce--</option>
                                <option th:each="piece:${pieces}"
                                        th:value="${piece.id}"
                                        th:text="${piece.libellePiece}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Lieu de paiement</label>
                        <div class="col-md-6 col-sm-6">
                            <select name="lieuPaiement" required="true" class="form-control border-info">
                                <option value="">--Choisir un lieu de paiement--</option>
                                <option>Togo</option>
                                <option>Allemagne</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Transport Allemagne ?</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="radio" name="transport" value="Oui" required /> Oui
                            <input type="radio" name="transport" value="Non" required /> Non
                        </div>
                    </div>
                    <div th:switch="${uneReduction.activation}" th:case="Oui" class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Réduction ?</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="radio" name="reduction" th:value="${uneReduction.taux}" /> Oui
                            <input type="radio" name="reduction" value="0" checked /> Non
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>