<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h4><small>Liste des produits contenus dans le colis N° : <b th:text="${lastColisMaritime.numeroColis}"></b></small></h4>
        </div>
        <div class="title_right">
            <div class="col-md-11 col-sm-11 pull-right" th:switch="${lastColisMaritime.commande.lieuPaiement}">
                <button class="btn btn-warning">Envoi maritime</button>
                <a th:case="Togo" th:href="@{/colisMaritime/facture}" class="btn btn-success"><i class="fa fa-download"></i> Facture</a>
                <a th:case="*" th:href="@{/colisMaritime/facture_non_paye}" class="btn btn-success"><i class="fa fa-download"></i> Facture</a>
                <a th:href="@{/colisMaritime/form}" class="btn btn-info"><i class="fa fa-plus"></i> Nouveau colis</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                    <i class="fa fa-plus"></i> Ajouter un produit
                </button>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Montant à payer : <small style="color:red;" th:text="${prixTotal}"></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>N° colis</th>
                                    <th>Type de carton</th>
                                    <th>Désignation</th>
                                    <th>Quantité</th>
                                    <th>Poids</th>
                                    <th>Valeur marchande</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="produitMaritime:${produitsMaritime}">
                                    <td th:text="${produitMaritime.colisMaritime.numeroColis}"></td>
                                    <td th:text="${produitMaritime.colisMaritime.carton.libelleCarton}"></td>
                                    <td th:text="${produitMaritime.designation}"></td>
                                    <td th:text="${produitMaritime.quantite}"></td>
                                    <td th:text="${produitMaritime.poids}"></td>
                                    <td th:text="${produitMaritime.valeurMarchande}"></td>
                                    <td>
                                        <a class="btn btn-round btn-sm btn-info" th:href="@{/produitMaritime/formUpdate/{id}(id=${produitMaritime.id})}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-round btn-sm btn-danger dbtn" th:href="@{/produitMaritime/delete/(id=${produitMaritime.id})}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- End table -->

    <!-- Modal add -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="staticBackdropLabel">Ajouter un contenu</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/produitMaritime/nouveau}" method="post" class="forms-sample">
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <input type="hidden" name="colisMaritimeid" th:value="${lastColisMaritime.id}" required="true" class="form-control border-info">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Catégorie de produits</label>
                            <div class="col-sm-9">
                                <select name="tarifid" required class="form-control border-info">
                                    <option value="">--Choisir une catégorie de produits--</option>
                                    <option th:each="tarif:${tarifs}"
                                            th:value="${tarif.id}"
                                            th:text="${tarif.libelleTarif}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desi" class="col-sm-3 col-form-label">Désignation</label>
                            <div class="col-sm-9">
                                <input type="text" name="designation" required="true" class="form-control border-info" id="desi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="q" class="col-sm-3 col-form-label">Quantité</label>
                            <div class="col-sm-9">
                                <input type="number" name="quantite" min="1" required="true" class="form-control border-info" id="q">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="p" class="col-sm-3 col-form-label">Poids</label>
                            <div class="col-sm-9">
                                <input type="number" name="poids" placeholder="Ex : 2,5 ou 2.5" step="0.01" required="true"  class="form-control border-info" id="p">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="vm" class="col-sm-3 col-form-label">Valeur marchande</label>
                            <div class="col-sm-9">
                                <input type="number" name="valeurMarchande" required="true"  class="form-control border-info" id="vm">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2 pull-right">Enregistrer</button>
                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal add-->

    <!-- Modal delete -->
    <div class="modal fade" id="deleteform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">Êtes-vous sûr de vouloir supprimer?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-danger" id="delRef">Supprimer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal delete -->
</div>
</body>
</html>