<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="clearfix"></div>
    <div>
        <div style="margin:10px;" class="title_left">
            <h4 style="background-color:Peru;color:white;padding:3px;"><small>Bloquer/débloquer un émetteur</small></h4>
        </div>
    </div>

    <!-- table -->
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Prénoms</th>
                                        <th>Ville</th>
                                        <th>Numéro client</th>
                                        <th>Autorisation client</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="emetteur:${emetteurs}">
                                        <td th:text="${emetteur.id}"></td>
                                        <td th:text="${emetteur.nomPersonne}"></td>
                                        <td th:text="${emetteur.prenomPersonne}"></td>
                                        <td th:text="${emetteur.villePersonne}"></td>
                                        <td th:text="${emetteur.numeroPersonne}"></td>
                                        <td th:text="${emetteur.etatPersonne}"></td>
                                        <td th:switch="${emetteur.etatPersonne}">
                                            <a th:case="AUTORISE" class="btn btn-round btn-sm btn-info" th:href="@{/personne/emetteur/info/form/{id}(id=${emetteur.id})}">Bloquer</a>
                                            <a th:case="*" class="btn btn-round btn-sm btn-warning dbtn" th:href="@{/personne/emetteur/info/debloquer/{id}(id=${emetteur.id})}">Débloquer</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>
    <!-- End table -->

    <!-- Modal information -->
    <div class="modal fade" id="deleteform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Information sur le client</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-warning">Etes-vous sûr de vouloir débloquer ce client ?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-danger" id="delRef">Débloquer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal information -->
</div>
</body>
</html>