<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3><small>Liste des clients destinataires (récepeteur) de colis</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-3 col-sm-3 pull-right">
                <p><b><i>Nouveau client ?</i></b></p>
                <a th:href="@{/recepteur/formRecepteur}" class="btn btn-info"><i class="fa fa-plus"></i> Ajouter</a>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Prénoms</th>
                                        <th>Rue</th>
                                        <th>Ville</th>
                                        <th>Etat</th>
                                        <th>Code postal</th>
                                        <th>Contact</th>
                                        <th>Numéro client</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="recepteur:${recepteurs}">
                                        <td th:text="${recepteur.id}"></td>
                                        <td th:text="${recepteur.nomPersonne}"></td>
                                        <td th:text="${recepteur.prenomPersonne}"></td>
                                        <td th:text="${recepteur.rue}"></td>
                                        <td th:text="${recepteur.villePersonne}"></td>
                                        <td th:text="${recepteur.etat.libelleEtat}"></td>
                                        <td th:text="${recepteur.codePostal}"></td>
                                        <td th:text="${recepteur.contactPersonne}"></td>
                                        <td th:text="${recepteur.numeroPersonne}"></td>
                                        <td>
                                            <a class="btn btn-round btn-sm btn-info" th:href="@{recepteur/formUpdate/{id}(id=${recepteur.id})}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- End table -->
</div>
</body>
</html>