<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<div layout:fragment="content">

  <div class="page-title">
    <div class="title_left">
      <h4><small>Mise à jour d'un colis par envoi maritime</small></h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Settings 1</a>
              </li>
              <li><a class="dropdown-item" href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form th:action="@{/colisMaritime/update}" method="POST" th:object="${unColisMaritime}" data-parsley-validate class="form-horizontal form-label-left">
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 ">
              <input type="hidden" th:field="*{id}" required="required" class="form-control ">
              <input type="hidden" th:field="*{commandeid}" required="required" class="form-control ">
              <input type="hidden" th:field="*{numeroColis}" required="required" class="form-control ">
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Type de carton</label>
            <div class="col-md-6 col-sm-6">
              <select th:field="*{cartonid}" required="required" class="form-control border-info">
                <option value="">--Choisir un carton--</option>
                <option th:each="carton:${cartons}"
                        th:value="${carton.id}"
                        th:utext="${carton.libelleCarton}">
                </option>
              </select>
            </div>
          </div>
          <div class="item form-group">
            <label class="ccol-form-label col-md-3 col-sm-3 label-align">Pays de destination</label>
            <div class="col-md-6 col-sm-6">
              <select th:field="*{paysid}" required="required" class="form-control border-info">
                <option value="">--Choisir un pays--</option>
                <option th:each="pays:${pays}"
                        th:value="${pays.id}"
                        th:utext="${pays.libellePays}">
                </option>
              </select>
            </div>
          </div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <a th:href="@{/colisMaritime/listes}" class="btn btn-secondary">Retour</a>
              <button type="submit" class="btn btn-success">Mettre à jour colis</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
</body>
</html>