<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
           function prixColisAerien(){
            $(window).on('load', function () {
                var lestarifs = '${tarifs}';
                for (var t in lestarifs) {
                    if (document.forma.tarifid.value == t.id){
                        document.getElementById("pkilo").value = t.prixkilo;
                    }
                }
            });
        }
	</script>
</head>
<body>

<div layout:fragment="content">

    <div class="page-title">
        <div>
            <button class="btn btn-warning">Formulaire d'ajout de colis</button>
            <button class="btn btn-info">Type d'envoi : Aérien</button>
            <button class="btn btn-secondary">Commande N° : <b th:text="${lastCommande.pin}"></b></button>
        </div>
        <div class="title_left">
            <button class="btn btn-default">Expéditeur</button> : <small><i><b th:text="${lastCommande.emetteur.nomPersonne+' '+lastCommande.emetteur.prenomPersonne}"></b></i></small>
            <button class="btn btn-default">Destinataire</button> : <small><i><b th:text="${lastCommande.recepteur.nomPersonne+' '+lastCommande.recepteur.prenomPersonne}"></b></i></small>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Settings 1</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form th:action="@{/colis/nouveau/aerien}" name="forma" method="POST" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 ">
                            <input type="hidden" name="commandeid" th:value="${lastCommande.id}" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Catégorie de produits</label>
                        <div class="col-md-6 col-sm-6">
                            <select name="tarifid" id="categorie" class="form-control border-info">
                                <option value="">--Choisir une catégorie--</option>
                                <option th:each="tarif:${tarifs}"
                                        th:value="${tarif.id}"
                                        th:text="${tarif.libelleTarif}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Autres précisions sur le colis</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" name="libelleColis" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Poids du colis en kg<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" name="poids" placeholder="Ex : 2,5 ou 2.5" step="0.01" required="required" id="poids" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <a th:href="@{/mode/envoi}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Retour au choix</a>
                            <a th:href="@{/colisAerien/listes}" class="btn btn-info"><i class="fa fa-arrow-right"></i> Retour à la liste</a>
                            <button type="submit" class="btn btn-success">Enregistrer colis</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal add -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Calcul du prix total</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-success">Prix par kilo : <br>Poids : <br>Prix total : </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal add-->

</div>
</body>
</html>